
             
                <section id="4">
                    <div class="intro-y col-span-12 flex items-center justify-center sm:justify-end mt-5">
                    <table class="table table-report -mt-2" id="pre_approved_quotes">
                               <thead>
                                   <tr>
                                       <th class="whitespace-no-wrap">Mat Category</th>
                                       <th class="text-center whitespace-no-wrap">Code</th>
                                       <th class="text-center whitespace-no-wrap">Price per unit</th>
                                       <th class="text-center whitespace-no-wrap">Quatity</th>                                   
                                       <th class="text-center whitespace-no-wrap">total price</th>
                                   </tr>
                               </thead>
                               <tbody>
                                   <tr class="intro-x">
                                       <td class="text-center"><label>Material</label></td>
                                       <td class="text-center"><label>500</label></td>
                                       <td class="text-center"><label>2500</label></td>
                                       <td class="text-center"><label>1500</label></td>
                                       <td class="text-center"><label>20</label></td>
                                   </tr>
                                   <tr class="intro-x">
                                       <td class="text-center"><label>Labour</label></td>
                                       <td class="text-center"><label>100</label></td>
                                       <td class="text-center"><label>500</label></td>
                                       <td class="text-center"><label>50</label></td>
                                       <td class="text-center"><label>0</label></td>
                                   </tr>
                               </tbody>                           
                           </table>                           
                        </div>
                        <div class="intro-y col-span-12 flex items-center justify-center sm:justify-end mt-5 mr-2">
                        <button class="button w-24 justify-center block bg-gray-200 text-gray-600">Close</button>                        
                    </div>
                </section>

                <section id="5">
                    <div class="intro-y col-span-12 flex items-center justify-center sm:justify-end mt-5">
                    <table class="table table-report -mt-2" id="pre_approved_quotes">
                               <thead>
                                   <tr>
                                       <th class="whitespace-no-wrap">Labour desc</th>
                                       <th class="text-center whitespace-no-wrap"># of Man Day</th>
                                       <th class="text-center whitespace-no-wrap">total price</th>
                                   </tr>
                               </thead>
                               <tbody>
                                   <tr class="intro-x">
                                       <td class="text-center"><label>Material</label></td>
                                       <td class="text-center"><label>1500</label></td>
                                       <td class="text-center"><label>20</label></td>
                                   </tr>
                                   <tr class="intro-x">
                                       <td class="text-center"><label>Labour</label></td>
                                       <td class="text-center"><label>50</label></td>
                                       <td class="text-center"><label>0</label></td>
                                   </tr>
                               </tbody>                           
                           </table>                           
                        </div>
                        <div class="intro-y col-span-12 flex items-center justify-center sm:justify-end mt-5 mr-2">
                        <button class="button w-24 justify-center block bg-gray-200 text-gray-600">Close</button>                        
                    </div>
                </section>
                <section id="6">
                    <div class="intro-y col-span-12 flex items-center justify-center sm:justify-end mt-5">
                    <table class="table table-report -mt-2" id="pre_approved_quotes">
                               <thead>
                                   <tr>
                                       <th class="whitespace-no-wrap">Misc desc</th>
                                       <th class="text-center whitespace-no-wrap">Misc #</th>
                                       <th class="text-center whitespace-no-wrap">Price per unit</th>
                                       <th class="text-center whitespace-no-wrap">Quatity</th>                                   
                                       <th class="text-center whitespace-no-wrap">total price</th>
                                   </tr>
                               </thead>
                               <tbody>
                                   <tr class="intro-x">
                                       <td class="text-center"><label>407 Bill</label></td>
                                       <td class="text-center"><label>500</label></td>
                                       <td class="text-center"><label>xxx</label></td>
                                       <td class="text-center"><label>1500</label></td>
                                       <td class="text-center"><label>20</label></td>
                                   </tr>
                                   <tr class="intro-x">
                                       <td class="text-center"><label>Special gate sign</label></td>
                                       <td class="text-center"><label>100</label></td>
                                       <td class="text-center"><label>yy</label></td>
                                       <td class="text-center"><label>50</label></td>
                                       <td class="text-center"><label>0</label></td>
                                   </tr>
                               </tbody>                           
                           </table>                           
                        </div>
                        <div class="intro-y col-span-12 flex items-center justify-center sm:justify-end mt-5 mr-2">
                        <button class="button w-24 justify-center block bg-gray-200 text-gray-600">Close</button>                        
                    </div>
                </section>

                <section id="7">
                    <div class="grid grid-cols-12 gap-6" id="view_quote_section">
                        <!-- BEGIN: General Report -->
                        <div class="col-span-12 mt-8 mb-4">
                            <div class="intro-y flex items-center h-10">
                                <h2 class="text-lg font-medium truncate mr-5">
                                    Quotes List
                                </h2>
                                <!-- <a href="" class="ml-auto flex text-theme-1"> <i data-feather="refresh-ccw" class="w-4 h-4 mr-3"></i> Reload Data </a> -->
                            </div>
                            <div class="grid grid-cols-12 gap-6 mt-5">
                                
                                <div class="col-span-12 sm:col-span-6 xl:col-span-2 intro-y text-center">
                                    <label>Sales Person</label>
                                    <select class="input border mr-2">
                                        <option>James</option>
                                        <option>Liam Neeson</option>
                                        <option>Daniel Craig</option>
                                    </select>
                                </div>
                                <div class="col-span-12 sm:col-span-6 xl:col-span-2 intro-y text-center">
                                    <label>Jobs per Month</label>
                                    <select class="input border mr-2">
                                        <option>MAY</option>
                                        <option>Liam Neeson</option>
                                        <option>Daniel Craig</option>
                                    </select>
                                </div>
                                <div class="col-span-12 sm:col-span-6 xl:col-span-2 intro-y text-center">
                                    <label>Jobs per Date</label>
                                    <div class="preview" id="cal_quotes_section">
                                        <input class="datepicker input border block mx-auto">
                                    </div>
                                </div>
                                <div class="col-span-12 sm:col-span-6 xl:col-span-2 intro-y text-center">
                                    <label>City</label>
                                    <select class="input border mr-2">
                                        <option>Thornhill</option>
                                        <option>Liam Neeson</option>
                                        <option>Daniel Craig</option>
                                    </select>
                                </div>
                                <div class="col-span-12 sm:col-span-6 xl:col-span-2 intro-y text-center">
                                    <label>Job Total bigger than</label>
                                    <select class="input border mr-2">
                                        <option>05,000</option>
                                        <option>10,000</option>
                                        <option>20,000</option>
                                    </select>
                                </div>

                            </div>
                        </div>
                    </div>
               
                    
                    <div class="intro-y col-span-12 flex items-center justify-center sm:justify-end mt-5">
                    <table class="table table-report -mt-2" id="pre_approved_quotes">
                               <thead>
                                   <tr>
                                       <th class="text-center whitespace-no-wrap">id</th>
                                       <th class="text-center whitespace-no-wrap">Date</th>
                                       <th class="text-center whitespace-no-wrap">Month</th>
                                       <th class="text-center whitespace-no-wrap">Sales Person</th>
                                       <th class="text-center whitespace-no-wrap">Contact</th>
                                       <th class="text-center whitespace-no-wrap">Job_Type</th>
                                       <th class="text-center whitespace-no-wrap">Job_C</th>
                                       <th class="text-center whitespace-no-wrap">MAT</th>
                                       <th class="text-center whitespace-no-wrap">LAB</th>
                                       <th class="text-center whitespace-no-wrap">MISC</th>
                                       <th class="text-center whitespace-no-wrap">Add-On</th>
                                       <th class="text-center whitespace-no-wrap">Costing Total</th>
                                       <th class="text-center whitespace-no-wrap">Action</th>
                                   </tr>
                               </thead>
                               <tbody>
                                   <tr class="intro-x">
                                       <td class="text-center"><label>1</label></td>
                                       <td class="text-center"><label>5/7/20</label></td>
                                       <td class="text-center"><label>july</label></td>
                                       <td class="text-center"><label>david</label></td>
                                       <td class="text-center"><label>karif</label></td>
                                       <td class="text-center"><label>New Fencel</label></td>
                                       <td class="text-center"><label>Kleinburg</label></td>
                                       <td class="text-center"><label>500</label></td>
                                       <td class="text-center"><label>1500</label></td>
                                       <td class="text-center"><label>20</label></td>
                                       <td class="text-center"><label>1500</label></td>
                                       <td class="text-center"><label>20</label></td>
                                       <td class="text-center">
                                           <div class="flex justify-center items-center">
                                             
                                               <a class="flex items-center mr-3" href="javascript:;"> <i data-feather="check-square" class="w-4 h-4 mr-1"></i></a>
                                               <a class="flex items-center text-theme-6" href="javascript:;" data-toggle="modal" data-target="#delete-confirmation-modal"> <i data-feather="trash-2" class="w-4 h-4 mr-1"></i></a>
                                           </div>
                                       </td>
                                   </tr>
                                   <tr class="intro-x">
                                       <td class="text-center"><label>2</label></td>
                                       <td class="text-center"><label>11/7/20</label></td>
                                       <td class="text-center"><label>july</label></td>
                                       <td class="text-center"><label>Joseph</label></td>
                                       <td class="text-center"><label>Cohen</label></td>
                                       <td class="text-center"><label>New gate</label></td>
                                       <td class="text-center"><label>Kleinburg</label></td>
                                       <td class="text-center"><label>500</label></td>
                                       <td class="text-center"><label>1500</label></td>
                                       <td class="text-center"><label>20</label></td>
                                       <td class="text-center"><label>1500</label></td>
                                       <td class="text-center"><label>20</label></td>
                                       <td class="text-center6">
                                           <div class="flex justify-center items-center">
                                              
                                               <a class="flex items-center mr-3" href="javascript:;"> <i data-feather="check-square" class="w-4 h-4 mr-1"></i></a>
                                               <a class="flex items-center text-theme-6" href="javascript:;" data-toggle="modal" data-target="#delete-confirmation-modal"> <i data-feather="trash-2" class="w-4 h-4 mr-1"></i></a>
                                           </div>
                                       </td>
                                   </tr>
                               </tbody>                           
                           </table>                           
                        </div>
                </section>